pkgbase = linux-cachyos-nightmare
	pkgdesc = linux-cachyos (bore/lto) with some tweaks
	pkgver = 6.1.rc1
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = gcc
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = binutils
	makedepends = make
	makedepends = patch
	makedepends = clang
	makedepends = llvm
	makedepends = lld
	makedepends = python
	options = !strip
	options = bolt
	source = https://github.com/torvalds/linux/archive/refs/tags/v6.1-rc1.tar.gz
	source = https://raw.githubusercontent.com/CachyOS/linux-cachyos/master/linux-cachyos-rc/config
	source = config_rt
	source = https://raw.githubusercontent.com/CachyOS/linux-cachyos/master/linux-cachyos-rc/auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.1/all/0001-cachyos-base-all.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.1/sched/0001-bore.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.1/misc/0001-Add-latency-priority-for-CFS-class.patch
	source = https://raw.githubusercontent.com/Frogging-Family/linux-tkg/master/linux-tkg-patches/6.1/0001-mm-Support-soft-dirty-flag-reset-for-VA-range.patch
	source = https://raw.githubusercontent.com/Frogging-Family/linux-tkg/master/linux-tkg-patches/6.1/0002-mm-Support-soft-dirty-flag-read-with-reset.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = linux-cachyos-nightmare
	pkgdesc = linux-cachyos-nightmare kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN

pkgname = linux-cachyos-nightmare-headers
	pkgdesc = Headers and scripts for building modules in linux-cachyos-nightmare
	depends = pahole
	depends = linux-cachyos-nightmare
